.fet-main {
}

.feature{
    margin-top: 140px;
}
.main-cont{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    justify-items: center;
}
.left-prt{
    /* width: 50%; */
    margin-left: 0px;
}
.right-prt {
    object-fit: contain;
    width: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.right-prt img{
    object-fit: contain;
    width: 60%;
}
.btn-3{
    background-color:#2f3f60;
 margin-top: 10px;
    border: 1px solid;
    border-radius: 58%;
    width: 69px;
    height: 64px;
   margin-right: 10px;
}

.btn-main-1{
    display: flex;
    justify-content: start;
    align-items: center;
}
.p1{
    margin-right: 135px;
}
.p2{

}
.p3{

}
.button-main{
    /* margin-left: 67px; */
}

.left-prt h3{
    font-size: 24px;
}
.left-prt h4{
    color: gray;
}
.h4{
    margin-right: 281px;
}
.h44{
    margin-right: 13px;
}
.btn12{
    margin-right: 384px;
    width: 100px;
    font-size: 17px;
    height: 49px;
    border: 1px solid white;
    border-radius: 36px;
    font-weight: 700;
}
.btn123{
    width: 32px;
    font-size: 17px;
    height: 49px;
  
    border-radius: 36px;
    font-weight: 700;
    color: #273d60;
}

@media screen and (max-width: 775px)  {
    .btn12 {
      margin: 0;
    }
    .left-prt {
        margin: 0;
    }
    .right-prt img{
        width: 100%;
    }
    .main-cont{
        flex-wrap: wrap;
    }
    .feature {
        margin-top: 50px;
    }
  }