.navbar_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
margin: 5px 30px;
padding: 10px 0px;
}
.navbar_left img {
    object-fit: contain;
    width: 200px;
    /* margin-left: -171px; */
    
}
.navbar_right button{
    color: white;
    width:15vw;
    min-width: 100px;
    font-weight: 700;
    font-size: auto;
    height: 35px;
    border: 2px solid #f7524b;
    background-color: #f7524b;
    border-radius: 30px;
}
.navbar_right{
    display: flex;
    align-items: center;
    /* margin-right: 40px; */
}
.navbar_right h2{
    font-size: auto;
    margin-right: 20px;
}
@media (max-width: 375px) {
}
